.outerBox {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.message {
font-size: 45px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
}