body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    text-align: center;
    vertical-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

p {
    text-align: left;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 125px 150px;
    box-sizing: border-box;
}

.loginContainer {
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.loginContainer .left,
.loginContainer .right {
    height: 100%;
}

.loginContainer .left {
    width: 65%;
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/4523.jpg");
    background-size: cover;
    background-position: center;
}

.loginContainer .left h1,
.loginContainer .left p {
    color: white;
}

.loginContainer .left h1 {
    margin-top: 5rem;
    margin-bottom: 0;
}

.loginContainer .left p {
    padding: 0 5rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    min-width: 470px;
    border-radius: 8px;
}

.loginForm,
.loginForm div {
    width: 100%;
}

.loginForm div {
    margin-bottom: 10px;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 78%;
    height: 35px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 35px;
    padding: 0 1rem;
    box-sizing: border-box;
    caret-color: blue;
    outline: none;
}

.loginForm input[type="checkbox"] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.loginForm .others {
    display: flex;
    align-items: center;
    font-size: 11px;
    justify-content: flex-end;
}

.btn {
    width: 50%;
    height: 35px;
    border: none;
    margin-top: 30px;
    border-radius: 35px;
    padding: 0 1rem;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(61, 46, 173), rgb(190, 98, 206));
    outline: none;
    color: white;
}

.btn:hover{
    background-image: linear-gradient(to right, rgb(40, 26, 145), rgb(125, 30, 142));
    cursor: pointer;
}

input.username::placeholder {
    font-family: FontAwesome;
    color: rgb(197, 197, 197);
}

input.password::placeholder {
    font-family: FontAwesome;
    color: rgb(197, 197, 197);
}

@media screen and (max-width: 786px) {
    .container {
        padding: 15px;
    }

    .loginContainer {
        flex-direction: column !important;
    }

    .loginContainer .left,
    .loginContainer .right {
        width: 100% !important;
        height: auto !important;
    }
}

select {
    width: 78%;
    height: 35px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 35px;
    padding: 0 1rem;
    box-sizing: border-box;
    caret-color: blue;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='34' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 1px;
  }

.eye {
    position: absolute;
    align-items: center;
    margin-top: 4px;
    margin-left: -38px;
    width: 13px;
    color: #868686;
}